<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/customnavbar.css">
    
    <link rel="stylesheet" href="/static/bootstrap/js2/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
	<link rel="stylesheet" href="/static/bootstrap/js2/css/style.css">
  <script src="/static/bootstrap/js/jquery.js"></script>
    <title>Document</title>
</head>
<body style="background-image: url('/static/images/Data/Backgrounds/3.jpeg');   background-size: 100% 100%;">
        
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark  static-top background">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/static/images/comsats.png" alt="..." height=50px>
              </a>
          
          <a class="navbar-brand" href="{% url 'home' %}"> <h2>Project</h2> </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <li class="nav-item">
                      <a class="nav-link btn btn-block active  " aria-current="page" href="{% url 'SIGNIN' %}">Sign In</a>
                    </li>
                  
              
             
            </ul>
          </div>
        </div>
      </nav>
    
     
      <div class="wrapper">

        <div class="inner" style="background:url('/static/images/oie_umloIbtxGIQ9'); background-size: 100% 100%; background-position: right center; background-repeat: no-repeat;">
            <form action="{% url 'SIGNUP' %}" method="POST" style="color: white;" >
              {% csrf_token %}
                <h3 style="color: white;">Sign Up</h3>
                <div class="form-group">
                    <div class="form-wrapper" >
                        <label  for=""> <h6>First Name</h6> </label>
                        <input style="background-color: white;" type="text" class="form-control" placeholder="firstname" name="firstname">
                    </div>
                    <div class="form-wrapper">
                        <label for=""><h6>last Name</h6></label>
                        <input  style="background-color: white;" type="text" class="form-control" placeholder="lastname" name="lastname">
                    </div>
                </div>
               <div class="form-group">
                    <div class="form-wrapper" >
                        <label  for=""> <h6>User Name</h6> </label>
                        <input style="background-color: white;" type="text" class="form-control" placeholder="username" name="name">
                    </div>
                    <div class="form-wrapper">
                        <label for=""><h6>Phone Number</h6></label>
                        <input  style="background-color: white;" type="text" class="form-control" placeholder="+92 307 4512789" name="number">
                    </div>
                </div>
                
              
                <div class="form-wrapper">
                    <label for=""><h6>Email</h6></label>
                    <input type="email" style="background-color: white;" class="form-control" name="mail"  placeholder="example@gmail.com" >
                </div>
                
                
              <div class="form-wrapper">
                <small id="result"></small>

              </div>
               
                <div class="form-wrapper">
                    <label for=""><h6>Password</h6></label>
                    <input type="text" style="background-color: white;" class="form-control" name="password1" id="checkname" placeholder="******" >
                </div>
                
               
                
                <div class="row  p-3">
                  <div class="col-md-12  " style="text-align: center;">
                    <input type="submit" value="Sign Up" class="btn btn-lg btn-block active btn-outline-dark" id="submitbtn">
               
                  </div>
                  {% if context %}
                    {{context}}
                  {% endif %}
                </div >   
               
            </form>
        </div>
    </div>

   
      <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>


    
</body>
</html>